:host {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    height: 90%;
    width: 85%;
    padding: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #280280;
    border-radius: 10px;
    @media (max-width: 750px) {
        flex-direction: column;
    }
}