:host {
    width: 70%;
    height: 100%;
    @media (max-width: 750px) {
        width: 100%;
    }
}

.form-container {
    background-color: #f7f9fc;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: .6rem 0 .8rem 0;
    color: #333333;
    border-radius: 10px;
    margin-bottom: 1.2rem;

    h1 {
        margin: 1rem 0 1.5rem 0;
        @media(max-width: 400px) {
            font-size: 1.5rem;
        }
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .45rem;
        width: 87%;

        .btn {
            width: 100%;
            cursor: pointer;
            background-color: #005f99;
            padding: .6rem;
            border: none;
            border-radius: 5px;
            margin: .8rem 0 1rem 0;
            color: #fff;

            &:hover {
                background-color: #004b7c;
            }
        }
        div {
            display: flex;
            width: 100%;
            gap: .2rem;
        }

        input {
            padding: .5rem .7rem;
            width: 100%;
            border-radius: 7px;
            border: none;
            background-color: #e0e0e0;
            border: 1px solid #ccc;

            &:focus {
                border-color: #006199; 
                box-shadow: 0 0 8px rgba(0, 97, 153, 0.3); 
                outline: none; 
            }
        }
    }
}