:host {
    width: 60%;
    height: 100%;
    @media (max-width: 750px) {
        width: 100%;
    }
}

.form {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}