<div class="students-container">
    <input type="text" placeholder="Pesquisar pelo nome" [(ngModel)]="searchByName">
    <div class="students">
        <div *ngFor="let student of getStudentsByName()" class="student-item">
            <ng-container *ngIf="studentToEdit !== student">
                <div class="info">
                    <div class="info-name">
                        <h3>{{ student.name }} {{student.lastName}}</h3>
                    </div>
                    <div class="info-numbers">
                        <p><strong>Idade:</strong></p>
                        <span>{{ age(student.dateOfBirth) }}</span>
                        <p><strong>Nota total:</strong></p>
                        <span>{{ student.totalGrade }}</span>
                    </div>
                    <button class="btn" (click)="handleShowGrade(student)">{{ student.showGrade ? 'Fechar notas' : 'Ver
                        notas'}}</button>
                    <div class='grade' [ngClass]="{ 'show' : student.showGrade}" *ngIf="student.showGrade">
                        <div>
                            <h4>Prova 1</h4>
                            <p>{{ student.grade1 }}</p>
                            <h4>Prova 2</h4>
                            <p>{{ student.grade2 }}</p>
                        </div>
                        <div>
                            <h4>Institucional</h4>
                            <p>{{ student.institutionalGrade }}</p>
                            <h4>Atividades</h4>
                            <p>{{ student.activities }}</p>
                        </div>
                    </div>
                </div>
                <div class="edit-delete" [ngClass]="student.showGrade ? 'moreHeigth' : ''">
                    <mat-icon class="delete" (click)="deleteStudent(student.studentId!)">delete_outline</mat-icon>
                    <mat-icon class="edit" (click)="handleEditingStudent(student)">edit</mat-icon>
                </div>
            </ng-container>
            <app-edit-student
             *ngIf="studentToEdit === student"
             [student]="studentToEdit"
             (save)="updateStudent($event)"
             (cancel)="handleCancel()"
             >
            </app-edit-student>
        </div>
    </div>
</div>